<table class="w-full overflow-auto " id="users-list">
  <thead class="t-head-color ">
  <tr class="border border-gray-400 text-white">
    <th class="w-5 border border-gray-400 rounded-sm">
      <input class="w-5 h-5 border color-checkbox accent-[#B5013E]" type="checkbox" name="check-all"
             id="check-all">
    </th>
    <th class="w-12 py-2 px-4 border border-gray-400 font-thin"> # </th>
    <th class="py-2 px-4 border border-gray-400 text-left font-thin"> User </th>
    <th class="py-2 px-4 border border-gray-400 text-left font-thin"> Mentor </th>
    <th class="py-2 px-4 border border-gray-400 text-left font-thin"> Skills </th>
    <th class="py-2 px-4 border border-gray-400 text-left font-thin"> Time </th>
    <th class="py-2 px-4 border border-gray-400 text-left font-thin"> Status </th>
    <th class="py-2 px-4 border border-gray-400 text-left font-thin"> Payment </th>
    <th class="py-2 px-4 border border-gray-400 text-left font-thin"> Action </th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr class="border border-gray-400">
      <td class="py-2 px-4 border border-gray-400">
+      </td>
      <td class="py-2 px-4 border border-gray-400">1</td>
      <td class="py-2 px-4 border border-gray-400 text-left"><%= user.name %></td>
      <td class="py-2 px-4 border border-gray-400 text-left"><%= user.mentor %></td>
      <td class="py-2 px-4 border border-gray-400 text-left"><%= user.skills %></td>
      <td class="py-2 px-4 border border-gray-400 text-left"><%= user.time %>td>
      <td class="py-2 px-4 border border-gray-400 text-left"><%= user.status %></td>
      <td class="py-2 px-4 border border-gray-400 text-left"><%= user.payment %></td>



      <td class="px-2 py-3  text-left flex">
        <button
          class="show-button-color  text-white font-bold font-size-button py-2 px-4 rounded w-[100px] h-[32px] mr-[6px] flex items-center justify-center">
          <svg class="mr-1.5" width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.92917 17.5545C0.801906 17.5499 0.681351 17.499 0.592399 17.4122C0.503447 17.3255 0.452891 17.2095 0.451172 17.0883V0.910419C0.457338 0.847749 0.477298 0.787019 0.509754 0.732179C0.54221 0.67734 0.586433 0.629621 0.639546 0.592129C0.742104 0.504579 0.872875 0.452809 1.01041 0.445312L9.43189 0.445313C9.55642 0.445516 9.6758 0.492663 9.7639 0.576439L13.4019 4.12806C13.4935 4.21812 13.5443 4.33889 13.5432 4.46428V17.0883C13.5414 17.2095 13.4909 17.3255 13.4019 17.4122C13.313 17.499 13.1924 17.5499 13.0652 17.5545H0.92917ZM1.40717 16.6232H12.5919V4.92826H9.42836C9.30177 4.92237 9.18218 4.87118 9.09355 4.78494C9.00492 4.6987 8.95377 4.58377 8.95036 4.46316V1.37665H1.40599L1.40717 16.6232ZM9.90636 3.99693H11.9208L9.90636 2.03228V3.99693ZM3.15905 14.3974C3.03346 14.3915 2.91505 14.3399 2.82834 14.2532C2.74164 14.1665 2.69328 14.0514 2.69328 13.9317C2.69328 13.812 2.74164 13.6969 2.82834 13.6102C2.91505 13.5235 3.03346 13.4719 3.15905 13.466H10.8447C10.9703 13.4719 11.0887 13.5235 11.1754 13.6102C11.2621 13.6969 11.3105 13.812 11.3105 13.9317C11.3105 14.0514 11.2621 14.1665 11.1754 14.2532C11.0887 14.3399 10.9703 14.3915 10.8447 14.3974H3.15905ZM3.15905 11.2403C3.02931 11.2403 2.90488 11.1912 2.81314 11.1039C2.7214 11.0165 2.66986 10.8981 2.66986 10.7746C2.66986 10.6511 2.7214 10.5326 2.81314 10.4453C2.90488 10.358 3.02931 10.3089 3.15905 10.3089H10.8447C10.9744 10.3089 11.0989 10.358 11.1906 10.4453C11.2823 10.5326 11.3339 10.6511 11.3339 10.7746C11.3339 10.8981 11.2823 11.0165 11.1906 11.1039C11.0989 11.1912 10.9744 11.2403 10.8447 11.2403H3.15905ZM3.15905 8.08426C3.03346 8.0784 2.91505 8.02677 2.82834 7.94009C2.74164 7.8534 2.69328 7.73829 2.69328 7.6186C2.69328 7.4989 2.74164 7.38379 2.82834 7.2971C2.91505 7.21042 3.03346 7.1588 3.15905 7.15293H10.7623C10.8992 7.15164 11.0318 7.19832 11.135 7.28408C11.2381 7.36984 11.3045 7.4887 11.3215 7.61804C11.3223 7.67853 11.3105 7.73857 11.2869 7.79474C11.2633 7.85091 11.2284 7.9021 11.184 7.9454C11.1396 7.98869 11.0867 8.02324 11.0283 8.04706C10.9698 8.07089 10.9071 8.08353 10.8435 8.08426H3.15905Z" fill="white" stroke="white" stroke-width="0.2"/>
          </svg>
          <%= link_to 'Show', user %>
        </button>
        <button class="  color-edit  font-bold font-size-button py-2 px-4 rounded w-[91px] h-[32px] color-edit border mr-[6px] flex items-center justify-center ">
          <svg class="mr-1.5" width="11" height="20" viewBox="0 0 11 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.21309 19.4718C1.13336 19.4948 1.05063 19.4914 0.972106 19.4619C0.893578 19.4324 0.821629 19.3776 0.762516 19.3023C0.700583 19.2231 0.653007 19.1261 0.623435 19.0185C0.593863 18.9109 0.583081 18.7956 0.591915 18.6816L0.905181 14.8435C0.913801 14.7322 0.941623 14.6252 0.986446 14.5308L7.31139 1.52839C7.42007 1.29909 7.56303 1.1024 7.73126 0.950734C7.8995 0.799063 8.08936 0.69569 8.28889 0.647125C8.48842 0.598559 8.69329 0.605852 8.89061 0.668546C9.08794 0.731239 9.27343 0.847975 9.43541 1.0114L10.2818 1.83974C10.6206 2.1761 10.8519 2.67166 10.9291 3.22692C11.0064 3.78218 10.924 4.35604 10.6984 4.8333L4.36973 17.8369C4.31055 17.9573 4.22374 18.0486 4.12241 18.0971L1.27601 19.4563L1.21309 19.4718ZM1.89487 15.2003L1.6697 17.7334L3.59809 16.8138L9.83639 4.00049C9.91166 3.84214 9.93957 3.65159 9.91455 3.46689C9.88953 3.28219 9.81341 3.11693 9.7014 3.00409L8.87141 2.17867C8.81739 2.12493 8.75568 2.08667 8.69013 2.06627C8.62459 2.04588 8.5566 2.04379 8.49042 2.06013C8.42424 2.07647 8.36129 2.11089 8.30548 2.16125C8.24967 2.21162 8.20221 2.27683 8.16605 2.35284L1.89487 15.2003Z" fill="#B5013E"/>
          </svg>

          <%= link_to 'Edit', edit_user_path(user) %>
        </button>
<!--        <button class=" text-white font-bold py-2 px-4 font-size-button rounded w-[110px] h-[32px] border color-delete flex items-center justify-center" id="user_<%#= user.id %>">-->
<!--          <svg class="mr-1.5" width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--            <path d="M14.1368 19.9996H4.58906C3.96944 20.0101 3.36637 19.8005 2.88809 19.4086C2.61005 19.1706 2.38746 18.8753 2.23581 18.5432C2.08416 18.211 2.0071 17.85 2.00997 17.4852V4.59378H0.884142C0.646919 4.58574 0.422114 4.48636 0.25716 4.3166C0.0922046 4.14685 0 3.92 0 3.68392C0 3.44784 0.0922046 3.22099 0.25716 3.05124C0.422114 2.88148 0.646919 2.7821 0.884142 2.77406H0.910719C1.59323 2.75608 2.28106 2.77406 2.96357 2.77406H5.26625V2.50548C5.26625 2.3638 5.26625 2.21894 5.26625 2.08254C5.27225 1.57741 5.46095 1.09132 5.7978 0.713246C6.12317 0.427509 6.50958 0.219063 6.92783 0.103662C7.34609 -0.0117403 7.78524 -0.0310798 8.21211 0.0471046H10.7912C11.0038 0.0471046 11.226 0.0471046 11.4429 0.0471046C11.8439 0.0511895 12.2349 0.172443 12.5672 0.395784C12.8995 0.619126 13.1584 0.934699 13.3118 1.30326C13.4573 1.74613 13.5112 2.21371 13.4702 2.67783V2.773H17.762C18.0017 2.77898 18.2297 2.877 18.3984 3.04651C18.567 3.21603 18.6632 3.44388 18.6667 3.68233C18.6659 3.92171 18.5706 4.15122 18.4014 4.32147C18.2322 4.49172 18.0026 4.58913 17.762 4.59273H17.7322C17.3654 4.60224 16.9965 4.60224 16.6276 4.59907V17.021C16.6276 17.1849 16.6276 17.353 16.6276 17.5169C16.6216 18.1606 16.3669 18.7772 15.9162 19.2392C15.4656 19.7012 14.8536 19.9731 14.2069 19.9986H14.1336L14.1368 19.9996ZM4.46255 18.1936H4.43384C4.44471 18.1959 4.45593 18.1959 4.4668 18.1936H4.46255ZM4.40726 18.181H4.4753C6.1178 18.2084 7.76029 18.181 9.40172 18.181H14.2431C14.2941 18.1683 14.3494 18.1524 14.3962 18.1418L14.4461 18.1165L14.545 18.0572H14.5503C14.5812 18.0298 14.6088 18.0023 14.6364 17.9758C14.6641 17.9494 14.6736 17.9356 14.6917 17.9145C14.7151 17.8764 14.7385 17.8352 14.7406 17.831C14.7428 17.8267 14.7619 17.7897 14.7736 17.7686C14.7874 17.7178 14.8023 17.6502 14.8087 17.6174C14.8087 17.611 14.8087 17.6036 14.8087 17.5952V4.63291H3.82362C3.83425 5.88483 3.81086 7.13993 3.81086 8.38868V17.5212C3.8113 17.5461 3.81451 17.5709 3.82043 17.5952L3.80555 17.5381C3.81618 17.5698 3.81724 17.6142 3.82468 17.6438C3.82468 17.6512 3.84063 17.7041 3.85445 17.7495L3.86189 17.7622C3.88422 17.8035 3.91186 17.8437 3.93418 17.8891L3.95332 17.9251C3.99159 17.9642 4.04687 18.016 4.08302 18.0488L4.12873 18.0763C4.1585 18.0953 4.18933 18.1112 4.21697 18.126C4.26381 18.1366 4.30996 18.15 4.35517 18.1662C4.36783 18.1671 4.38032 18.1696 4.39238 18.1736L4.40726 18.181ZM14.5673 18.0424C14.5875 18.0298 14.6014 18.0192 14.6003 18.016L14.5673 18.0424ZM14.6492 17.9716C14.6492 17.9716 14.6673 17.9515 14.6843 17.924C14.6779 17.9388 14.6651 17.9547 14.6492 17.9716ZM3.90548 17.8754C3.90548 17.8807 3.9193 17.9018 3.94482 17.9282L3.93844 17.9166C3.92568 17.8955 3.91186 17.8743 3.90654 17.8743L3.90548 17.8754ZM14.7555 17.8214C14.7555 17.8214 14.7672 17.8024 14.7757 17.7728C14.7715 17.7887 14.764 17.8045 14.7555 17.8214ZM3.87146 17.8214C3.87146 17.8214 3.86296 17.7887 3.84807 17.7601C3.85341 17.7819 3.8624 17.8026 3.87465 17.8214H3.87146ZM7.17133 2.773H11.6598V2.08254C11.6598 2.07408 11.6598 2.06668 11.6598 2.06033V2.0561C11.6593 2.04906 11.6593 2.042 11.6598 2.03496C11.6568 2.02795 11.6533 2.02123 11.6491 2.01487C11.6491 2.01487 11.6491 2.02121 11.6491 2.02438V2.01487V2.00429C11.6438 1.99372 11.6353 1.97786 11.6268 1.96094H11.6215C11.6045 1.94719 11.5651 1.92076 11.5449 1.90701L11.5279 1.89855H11.5067H11.5141H11.5077H11.4812L11.4599 1.87318C11.3972 1.8552 11.4004 1.86578 11.4248 1.87318H11.4322C11.3876 1.87318 11.3398 1.87318 11.2919 1.87318H7.26914H7.25851L7.20748 1.89327L7.22342 1.88587L7.23406 1.88058C7.21067 1.88058 7.2011 1.88798 7.24043 1.88058C7.27977 1.87318 7.26489 1.85943 7.18409 1.90384H7.16921C7.14927 1.92662 7.12759 1.94783 7.10436 1.96728L7.08416 2.00218C7.0843 2.00464 7.0843 2.00711 7.08416 2.00958V2.01487C7.08043 2.03407 7.07794 2.0535 7.07672 2.07302V2.76877L7.17133 2.773ZM11.6438 1.99583L11.6374 1.97574L11.6268 1.962C11.6353 1.97997 11.6406 1.99055 11.6449 1.99689L11.6438 1.99583ZM7.11074 1.95565L7.13519 1.93028L7.14688 1.9197H7.14157C7.14157 1.9123 7.14901 1.90701 7.14157 1.90596C7.13412 1.9049 7.132 1.91442 7.12243 1.92922C7.11606 1.93287 7.11032 1.93751 7.10542 1.94296C7.10542 1.94296 7.10542 1.94296 7.11605 1.94296L7.11074 1.95565ZM3.8215 17.5994C3.82733 17.6145 3.83195 17.6301 3.83532 17.6459C3.82914 17.6309 3.82451 17.6153 3.8215 17.5994ZM10.4127 14.8925V7.92026C10.4042 7.79705 10.4213 7.67342 10.4629 7.55704C10.5044 7.44066 10.5696 7.33402 10.6543 7.24375C10.7391 7.15348 10.8416 7.08151 10.9555 7.0323C11.0694 6.98309 11.1922 6.95769 11.3164 6.95769C11.4405 6.95769 11.5634 6.98309 11.6773 7.0323C11.7912 7.08151 11.8937 7.15348 11.9784 7.24375C12.0632 7.33402 12.1283 7.44066 12.1699 7.55704C12.2115 7.67342 12.2285 7.79705 12.22 7.92026V14.8883C12.2165 15.1268 12.1204 15.3546 11.9517 15.5241C11.7831 15.6936 11.555 15.7917 11.3153 15.7977H11.2802C11.0471 15.783 10.8283 15.681 10.6677 15.5123C10.5072 15.3436 10.4168 15.1206 10.4149 14.8883L10.4127 14.8925ZM6.41334 14.8925V7.92026C6.4074 7.79857 6.42638 7.67694 6.46911 7.56276C6.51184 7.44857 6.57744 7.34421 6.66194 7.25599C6.74643 7.16778 6.84806 7.09755 6.96066 7.04956C7.07326 7.00158 7.19448 6.97683 7.31698 6.97683C7.43948 6.97683 7.5607 7.00158 7.6733 7.04956C7.78589 7.09755 7.88752 7.16778 7.97202 7.25599C8.05651 7.34421 8.12211 7.44857 8.16485 7.56276C8.20758 7.67694 8.22655 7.79857 8.22062 7.92026V14.8883C8.21738 15.1268 8.12132 15.3549 7.95262 15.5244C7.78391 15.694 7.5557 15.7919 7.31591 15.7977H7.28615C7.05229 15.784 6.83239 15.6825 6.67094 15.5136C6.50949 15.3448 6.41855 15.1213 6.41653 14.8883L6.41334 14.8925ZM11.6534 2.02332L11.6608 2.05293C11.655 2.04421 11.6524 2.03375 11.6534 2.02332ZM7.12562 1.93239L7.1405 1.92287L7.13519 1.93028L7.11818 1.94402L7.12562 1.93239ZM7.18515 1.90067L7.20748 1.89327C7.19475 1.89954 7.18112 1.90382 7.16708 1.90596L7.18515 1.90067ZM11.4376 1.87952H11.4843L11.5099 1.88692C11.5028 1.88807 11.4956 1.88807 11.4886 1.88692C11.4698 1.8875 11.4511 1.88464 11.4333 1.87846L11.4376 1.87952Z" fill="#2F2F2F"/>-->
<!--          </svg>-->
          <%#= link_to 'Delete', user_path(user), method: :delete %>

<!--        </button>-->
        <%= button_to 'Destroy this user', user_path(user), method: :delete, class: "  text-white font-bold py-2 px-4 font-size-button rounded w-[110px] h-[32px] border color-delete flex items-center justify-center"  %>

    </tr>
  <% end %>




  </tbody>
</table>