<body>
<div class="wrapper flex h-screen">
  <!-- Menu -->
  <div class="flex flex-col w-[263px] h-full bg-gray-200">
    <div class="h-[84px] flex justify-center   pb-4">
      <!-- btn menu -->
      <div class=" border-l-blue-950 ">
        <button class="text-black px-4 py-2 rounded-lg flex items-center space-x-2">
          <span class="text-4xl text-2F2F2F ">&#8801;</span>
        </button>
      </div>
    </div>
    <!-- Option list -->
    <div class="flex-1 h-full">
      <ul class=" divide-y divide-gray-300 flex flex-col">
        <li class="border-none h-14 flex items-center pl-5 hover:hover-color">
          <%= image_tag 'schedule.svg' %>
          <a href="#" class="w-full h-full flex items-center px-4 py-2 text-xl font-bold ">Schedule</a>
        </li>
        <li class="border-none h-14 flex items-center pl-5 hover:hover-color">
          <%= image_tag 'mentor.svg' %>
          <a href="#" class="w-full h-full flex items-center px-4 py-2 text-xl ">Mentor</a>
        </li>
        <li class="border-none h-14 flex items-center pl-5 hover:hover-color">
          <%= image_tag 'user.svg' %>
          <a href="#" class="w-full h-full flex items-center px-4 py-2 text-xl">User</a>
        </li>
        <li class="border-none h-14 flex items-center pl-5 hover:hover-color">
          <%= image_tag 'skills.svg' %>
          <a href="#" class="w-full h-full flex items-center px-4 py-2 text-xl ">Skills</a>
        </li>
        <li class="border-none h-14 flex items-center pl-5 hover:hover-color">
          <%= image_tag 'payments.svg' %>
          <a href="#" class="w-full h-full flex items-center px-4 py-2 text-xl ">Payment</a>
        </li>

      </ul>
    </div>
  </div>

  <!-- Main -->
  <div class="flex flex-col  h-screen w-full bg-purple-50">
    <div class="h-[84px] px-8 bg-blue-200 flex justify-between items-center">
      <div class="my-2">
        <%= image_tag 'ROMO.png',size: '197x68' %>
      </div>
      <!-- Nội dung chiều dọc 100% -->
      <div class="flex justify-end items-center ">
        <div class="icon-notice mr-8">
          <%= image_tag 'notice.svg' %>
        </div>
        <div class=" flex justify-between items-center bg-blue-200 ">
          <div class="rounded-full">
            <%= image_tag 'avatar.svg' %>
          </div>
          <div class="ml-3 text-4xl ">
                            <span>
                                Admin
                            </span>
          </div>
        </div>
      </div>

    </div>
    <div class="flex-1 p-4">
      <%= form_with(model: @users,
                    url: filter_by_date_users_path,
                    method: 'get',
                    remote: true,
                    id: 'date-filter-form'
          ) do |form| %>
      <div class="mx-2 mb-2 mt-0 filter flex justify-between flex-wrap ">
        <div class="filter-left flex  w-fit">
          <div class="from-date flex flex-col mr-[8px]">
            <label class="mb-2.5 font-size" for="from-date">From date</label>
            <%= text_field_tag 'date_from', params[:date_from], class: 'border border-gray-300 rounded-md px-3 py-2 h-[36px] w-[194px] input-color font-size' ,type: 'date' %>
          </div>

          <div class="form-to flex flex-col mr-[8px]">
            <label class="mb-2.5 font-size" for="to-date">To date</label>
            <%= text_field_tag 'date_to', params[:date_to], class: 'border border-gray-300 rounded-md px-3 py-2 h-[36px] w-[194px] input-color font-size',type: 'date' %>
          </div>
          <% end%>
      <%= turbo_frame_tag 'status-form' do %>
    <%= form_with(model: @users,
                    url: filter_by_status_users_path,
                    method: 'get',
                    remote: true,
                    id: "status-form"
          ) do |form| %>
          <div class="status flex flex-col w-20 mr-[8px]   ">
            <label class="mb-2.5 font-size" for="status">Status</label>

            <select data-target="statusSelect" name="status" id="status-select"
                class="border border-gray-300 rounded-md px-3 py-2 h-[36px] input-color  focus:outline-none focus:ring focus:border-blue-300 w-[103px]" data-controller="filter" data-action="change->filter#change">
                <option value="all">All</option>
                <option value="pending">Pending</option>
                <option value="approved">Approved</option>
                <option value="rejected">Rejected</option>
            </select>
<!--            <button class="border border-gray-300 rounded-md px-3 py-2 h-[36px] input-color font-size  focus:outline-none focus:ring focus:border-blue-300 w-[103px] font-size flex items-center justify-between">-->
<!--              Approved-->
<!--              <svg width="6" height="4" viewBox="0 0 6 4" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--                <path d="M0.0830078 0.833008L2.99967 3.74967L5.91634 0.833008H0.0830078Z" fill="#2F2F2F"/>-->
<!--              </svg>-->

<!--            </button>-->
          </div>
      <% end%>
        <% end%>
      <%= form_with(model: @users,
                        url: filter_by_payment_users_path,
                        method: 'get',
                        remote: true,
                        id: "payment-form"
              ) do |form| %>

            <div class="payment flex flex-col ml-8 w-20">
          <label class="mb-2.5 font-size" for="status">Payment</label>
             <select name="payment" id="payment-select"
                class="border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:ring focus:border-blue-300 h-[36px] w-[87px] input-color">
               <option value="all">All</option>
               <option value="paid">Paid</option>
               <option value="not_paid">Not Paid</option>

             </select>

          </div>
          <% end%>
        </div>
        <div class="filter-right w-5/12">
          <!-- <div class="search flex flex-col">
              <label class="mb-2.5 font-size" for="search">Search</label>

              <input type="text" name="search" id="search" placeholder="Enter user or mentor email"
                  class="border border-gray-300 input-color h-[36px] rounded-md px-3 py-2 focus:outline-none focus:ring focus:border-blue-300">
          </div> -->
          <%= form_with(url: search_users_path, method: "get",  remote: true,id:"search-form") do |form| %>
          <div class="relative search flex flex-col">
            <label class="mb-2.5" for="search">Search</label>
            <div class="absolute pointer-events-auto ">
              <svg class="absolute top-11 left-3 fill-slate-700" xmlns="http://www.w3.org/2000/svg" height="1em"
                   viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                <path
                  d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" />
              </svg>

            </div>
            <%= form.text_field :query,  placeholder: "Search mentor email", class: "pl-10 h-9 bg-[#BDBDBD] border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:ring focus:border-blue-300 placeholder:text-gray-500" %>
          </div>
          <%end %>

        </div>

      </div>
      <div class="flex justify-end">
        <div class="flex  mx-2 w-fit">
          <%= form_with(url: approve_multiple_users_path, method: "put", local: true) do |form| %>

          <button
            class="show-button-color text-white font-bold py-2 px-5 rounded  text-center flex items-center font-size-button shadow-md hover:shadow-lg focus:shadow-lg">
            <svg class="mr-1.5" width="15" height="11" viewBox="0 0 15 11" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.08301 6.1875L3.58301 9.3125M7.08301 4.3125L9.58301 1.1875M5.08301 6.1875L7.58301 9.3125L13.583 1.1875" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            Approve
          </button>
            <%end %>
          <button class="   font-size-button  font-bold px-5 rounded  color-delete border ml-3 flex items-center">
            <svg class="mr-1.5" width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14.4698 19.9996H4.92206C4.30245 20.0101 3.69938 19.8005 3.2211 19.4086C2.94306 19.1706 2.72047 18.8753 2.56882 18.5432C2.41717 18.211 2.3401 17.85 2.34298 17.4852V4.59378H1.21715C0.979927 4.58574 0.755122 4.48636 0.590167 4.3166C0.425212 4.14685 0.333008 3.92 0.333008 3.68392C0.333008 3.44784 0.425212 3.22099 0.590167 3.05124C0.755122 2.88148 0.979927 2.7821 1.21715 2.77406H1.24373C1.92624 2.75608 2.61407 2.77406 3.29658 2.77406H5.59926V2.50548C5.59926 2.3638 5.59926 2.21894 5.59926 2.08254C5.60526 1.57741 5.79396 1.09132 6.13081 0.713246C6.45618 0.427509 6.84259 0.219063 7.26084 0.103662C7.67909 -0.0117403 8.11825 -0.0310798 8.54512 0.0471046H11.1242C11.3368 0.0471046 11.559 0.0471046 11.7759 0.0471046C12.1769 0.0511895 12.5679 0.172443 12.9002 0.395784C13.2325 0.619126 13.4914 0.934699 13.6448 1.30326C13.7903 1.74613 13.8442 2.21371 13.8032 2.67783V2.773H18.095C18.3347 2.77898 18.5627 2.877 18.7314 3.04651C18.9 3.21603 18.9962 3.44388 18.9997 3.68233C18.9989 3.92171 18.9036 4.15122 18.7344 4.32147C18.5652 4.49172 18.3356 4.58913 18.095 4.59273H18.0652C17.6984 4.60224 17.3295 4.60224 16.9606 4.59907V17.021C16.9606 17.1849 16.9606 17.353 16.9606 17.5169C16.9546 18.1606 16.6999 18.7772 16.2493 19.2392C15.7986 19.7012 15.1866 19.9731 14.54 19.9986H14.4666L14.4698 19.9996ZM4.79555 18.1936H4.76685C4.77772 18.1959 4.78894 18.1959 4.79981 18.1936H4.79555ZM4.74027 18.181H4.80831C6.45081 18.2084 8.0933 18.181 9.73473 18.181H14.5761C14.6271 18.1683 14.6824 18.1524 14.7292 18.1418L14.7792 18.1165L14.878 18.0572H14.8833C14.9142 18.0298 14.9418 18.0023 14.9694 17.9758C14.9971 17.9494 15.0067 17.9356 15.0247 17.9145C15.0481 17.8764 15.0715 17.8352 15.0736 17.831C15.0758 17.8267 15.0949 17.7897 15.1066 17.7686C15.1204 17.7178 15.1353 17.6502 15.1417 17.6174C15.1417 17.611 15.1417 17.6036 15.1417 17.5952V4.63291H4.15663C4.16726 5.88483 4.14387 7.13993 4.14387 8.38868V17.5212C4.14431 17.5461 4.14752 17.5709 4.15344 17.5952L4.13856 17.5381C4.14919 17.5698 4.15025 17.6142 4.15769 17.6438C4.15769 17.6512 4.17364 17.7041 4.18746 17.7495L4.1949 17.7622C4.21723 17.8035 4.24487 17.8437 4.26719 17.8891L4.28633 17.9251C4.3246 17.9642 4.37988 18.016 4.41603 18.0488L4.46174 18.0763C4.49151 18.0953 4.52234 18.1112 4.54998 18.126C4.59682 18.1366 4.64297 18.15 4.68818 18.1662C4.70083 18.1671 4.71332 18.1696 4.72539 18.1736L4.74027 18.181ZM14.9003 18.0424C14.9205 18.0298 14.9344 18.0192 14.9333 18.016L14.9003 18.0424ZM14.9822 17.9716C14.9822 17.9716 15.0003 17.9515 15.0173 17.924C15.0109 17.9388 14.9982 17.9547 14.9822 17.9716ZM4.23849 17.8754C4.23849 17.8807 4.25231 17.9018 4.27782 17.9282L4.27144 17.9166C4.25869 17.8955 4.24487 17.8743 4.23955 17.8743L4.23849 17.8754ZM15.0885 17.8214C15.0885 17.8214 15.1002 17.8024 15.1087 17.7728C15.1045 17.7887 15.097 17.8045 15.0885 17.8214ZM4.20447 17.8214C4.20447 17.8214 4.19596 17.7887 4.18108 17.7601C4.18642 17.7819 4.1954 17.8026 4.20766 17.8214H4.20447ZM7.50434 2.773H11.9928V2.08254C11.9928 2.07408 11.9928 2.06668 11.9928 2.06033V2.0561C11.9923 2.04906 11.9923 2.042 11.9928 2.03496C11.9898 2.02795 11.9863 2.02123 11.9821 2.01487C11.9821 2.01487 11.9821 2.02121 11.9821 2.02438V2.01487V2.00429C11.9768 1.99372 11.9683 1.97786 11.9598 1.96094H11.9545C11.9375 1.94719 11.8981 1.92076 11.8779 1.90701L11.8609 1.89855H11.8397H11.8471H11.8407H11.8142L11.7929 1.87318C11.7302 1.8552 11.7334 1.86578 11.7578 1.87318H11.7653C11.7206 1.87318 11.6728 1.87318 11.6249 1.87318H7.60215H7.59152L7.54049 1.89327L7.55643 1.88587L7.56706 1.88058C7.54367 1.88058 7.53411 1.88798 7.57344 1.88058C7.61278 1.87318 7.59789 1.85943 7.5171 1.90384H7.50221C7.48227 1.92662 7.46059 1.94783 7.43737 1.96728L7.41717 2.00218C7.4173 2.00464 7.4173 2.00711 7.41717 2.00958V2.01487C7.41344 2.03407 7.41095 2.0535 7.40972 2.07302V2.76877L7.50434 2.773ZM11.9768 1.99583L11.9704 1.97574L11.9598 1.962C11.9683 1.97997 11.9736 1.99055 11.9779 1.99689L11.9768 1.99583ZM7.44374 1.95565L7.46819 1.93028L7.47989 1.9197H7.47457C7.47457 1.9123 7.48202 1.90701 7.47457 1.90596C7.46713 1.9049 7.46501 1.91442 7.45544 1.92922C7.44907 1.93287 7.44333 1.93751 7.43843 1.94296C7.43843 1.94296 7.43843 1.94296 7.44906 1.94296L7.44374 1.95565ZM4.1545 17.5994C4.16034 17.6145 4.16496 17.6301 4.16832 17.6459C4.16215 17.6309 4.15752 17.6153 4.1545 17.5994ZM10.7457 14.8925V7.92026C10.7372 7.79705 10.7543 7.67342 10.7959 7.55704C10.8374 7.44066 10.9026 7.33402 10.9873 7.24375C11.0721 7.15348 11.1746 7.08151 11.2885 7.0323C11.4024 6.98309 11.5252 6.95769 11.6494 6.95769C11.7736 6.95769 11.8964 6.98309 12.0103 7.0323C12.1242 7.08151 12.2267 7.15348 12.3114 7.24375C12.3962 7.33402 12.4613 7.44066 12.5029 7.55704C12.5445 7.67342 12.5615 7.79705 12.553 7.92026V14.8883C12.5495 15.1268 12.4534 15.3546 12.2847 15.5241C12.1161 15.6936 11.888 15.7917 11.6483 15.7977H11.6132C11.3801 15.783 11.1613 15.681 11.0007 15.5123C10.8402 15.3436 10.7498 15.1206 10.7479 14.8883L10.7457 14.8925ZM6.74635 14.8925V7.92026C6.74041 7.79857 6.75938 7.67694 6.80212 7.56276C6.84485 7.44857 6.91045 7.34421 6.99495 7.25599C7.07944 7.16778 7.18107 7.09755 7.29367 7.04956C7.40626 7.00158 7.52749 6.97683 7.64999 6.97683C7.77248 6.97683 7.89371 7.00158 8.0063 7.04956C8.1189 7.09755 8.22053 7.16778 8.30502 7.25599C8.38952 7.34421 8.45512 7.44857 8.49785 7.56276C8.54059 7.67694 8.55956 7.79857 8.55362 7.92026V14.8883C8.55039 15.1268 8.45433 15.3549 8.28563 15.5244C8.11692 15.694 7.8887 15.7919 7.64892 15.7977H7.61916C7.3853 15.784 7.1654 15.6825 7.00395 15.5136C6.8425 15.3448 6.75156 15.1213 6.74954 14.8883L6.74635 14.8925ZM11.9864 2.02332L11.9938 2.05293C11.988 2.04421 11.9854 2.03375 11.9864 2.02332ZM7.45863 1.93239L7.47351 1.92287L7.46819 1.93028L7.45119 1.94402L7.45863 1.93239ZM7.51816 1.90067L7.54049 1.89327C7.52776 1.89954 7.51413 1.90382 7.50009 1.90596L7.51816 1.90067ZM11.7706 1.87952H11.8173L11.8429 1.88692C11.8358 1.88807 11.8286 1.88807 11.8216 1.88692C11.8028 1.8875 11.7841 1.88464 11.7663 1.87846L11.7706 1.87952Z" fill="#2F2F2F"/>
            </svg>

            Reject
          </button>
        </div>
      </div>
      <% if notice.present? %>
        <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
      <% end %>
      <% if alert.present? %>
        <p class="py-2 px-3 bg-red-500 mb-5 text-red-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
      <% end %>
      <div class="m-2 max-h-screen rounded-lg">
        <%= turbo_frame_tag 'users-container' do %>
          <%= render "table", users: @users %>
        <% end %>
      <div class="bottom-0 h-12 w-full    py-5 px-5 flex justify-center items-center" id="pagination-container">
          <div class="flex justify-center">
            <%= link_to users_path(page: 1) do %>
          <button class="mr-10"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#b5013e}</style><path d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160zm352-160l-160 160c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L301.3 256 438.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0z"/></svg></button><% end%>
            <%= link_to users_path(page: @users.current_page - 1), remote: true do %>
              <button class=""> <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512">! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#b5013e}</style><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z"/></svg></button> <% end %>

          </div>
          <ul class="flex mx-6">
            <% @users.total_pages.times do |i| %>
              <li class="<%= 'bg-gray-300' if i + 1 != @users.current_page %> w-[28px] h-[28px] text-center mr-2 hover:hover-button bg-blue-500">
                <%= link_to i + 1, users_path(page: i + 1) %>
              </li>
            <% end %>
          </ul>
          <div class="flex justify-center">
            <%= link_to users_path(page: @users.current_page + 1) do %>

          <button class="mr-10"><svg  xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#b5013e}</style><path d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"/></svg></button> <%end %>
            <%= link_to users_path(page: @users.total_pages) do %>
          <button><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><style>svg{fill:#b5013e}</style><path d="M470.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 256 265.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160zm-352 160l160-160c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L210.7 256 73.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0z"/></svg></button> <%end %>

        </div>
      </div>
    </div>
  </div>
</div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).on('change', '#payment-select', function () {
        var selectedPayment = $(this).val();
        $.ajax({
            url: '/mentors/filter_by_payment' + '?payment=' + selectedPayment,
            type: 'GET',
            dataType: 'script', // Sử dụng dataType là script để Rails hiểu rằng phản hồi sẽ là JavaScript
            success: function (response) {
            },
            error: function () {
            }
        });
    });

    // $(document).on('change', '#status-select', function () {
    //     var selectedStatus= $(this).val();
    //     $.ajax({
    //         url: '/mentors/filter_by_status' + '?status=' + selectedStatus,
    //         type: 'GET',
    //         dataType: 'script', // Sử dụng dataType là script để Rails hiểu rằng phản hồi sẽ là JavaScript
    //         success: function (response) {
    //         },
    //         error: function () {
    //         }
    //     });
    // });

    $(document).on('submit', '#search-form', function (e) {
        e.preventDefault(); // Ngăn chặn việc gửi form thông qua phương thức truyền thống
        var query = $('#search-form input[name="query"]').val();
        $.ajax({
            url: '/mentors/search',
            type: 'GET',
            data: {query: query},
            dataType: 'script',
            success: function (response) {
            },
            error: function () {
            }
        });
    });

    $(document).on('change', '#date-filter-form', function(e) {
        e.preventDefault(); // Ngăn chặn việc gửi form thông qua phương thức truyền thống
        var dateFrom = $('#date_from').val();
        var dateTo = $('#date_to').val();
        if(dateFrom && dateTo) {
        $.ajax({
            url: '/mentors/filter_by_date?date_from=' + dateFrom + '&date_to=' + dateTo, // Địa chỉ URL xử lý yêu cầu
            type: 'GET', // Phương thức yêu cầu
            // data: {date_from: dateFrom, date_to: dateTo}, // Dữ liệu gửi đi
            dataType: 'script', // Định dạng dữ liệu trả về
            success: function (response) {
                // Xử lý kết quả trả về nếu cần
            },
            error: function () {
                // Xử lý lỗi nếu cần
            }

        });
    }
    });
    $(document).on('click', '#pagination-container a', function(e) {
        e.preventDefault();
        var url = $(this).attr('href');

        $.ajax({
            url: url,
            type: 'GET',
            dataType: 'script',
            success: function(response) {
                $('#users-list').replaceWith($(response).find('#users-list'));
            },
            error: function() {
                alert('Error loading page');
            }
        });
    });

</script>

